.youtube {
  position: relative;
  margin-top: 0.5rem;
}

.youtube .grid {
  counter-reset: number;
}
.youtube .grid > * .card::before {
  --rank-bg: var(--bs-secondary);
  --rank-color: #fff;
}
.youtube .grid > *:nth-child(-n+3) .card::before {
  --rank-bg: var(--bs-primary);
  --rank-color: #fff;
}
.youtube .grid > *:nth-child(n+4):nth-child(-n+10) .card::before {
  --rank-bg: var(--bs-success);
  --rank-color: #fff;
}
.youtube .card {
  position: relative;
  transition: box-shadow 0.25s ease-in-out;
}
.youtube .card::before {
  counter-increment: number;
  content: counter(number);
  position: absolute;
  top: -0.375rem;
  left: 0.5rem;
  display: inline-flex;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--bs-border-radius) 0 var(--bs-border-radius) var(--bs-border-radius);
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--rank-bg);
  color: var(--rank-color);
  line-height: 1;
  font-size: calc(1rem * 0.875);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25)
}
.youtube .card:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.75);
}
.youtube .card-img-top {
  display: block;
  overflow: hidden;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.youtube .card-img-top img {
  display: block;
  visibility: hidden;
}
.youtube .card-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.youtube .card-desc {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
